.wrap{
    width: 1600px;
    margin: auto;
}


.logo {
    display: inline-block;
    vertical-align: middle;
}
nav {
    margin-left: 10px;
    vertical-align: middle;
    padding: 5px 0;

}
nav, .nav-li{
    display: inline-block;
    padding: 0 10px;
}
nav {
    margin-right: 60px;
}


/* SECTION 1 */
.text-large{
    display: inline-block;
    vertical-align: middle;
}


.text-large h1 {
    font-size: 50px;
}

.right-block, .left-block{
    width:770px;
    border: 1px solid #00000030;
    height: 555px;
    display: inline-block;
}

.left-block{
    /*background-color: #adacac;*/
}

.right-block{
    /*background-color: #cff3f3;*/
}

/* SECTION 2 */
.services{
    padding-top: 20px;
    background-color: beige;
}

.services-blocks{
    /*background-color: #3D58A6;*/
}

.service-block{
    display: inline-block;
    background-color: indianred;
    width: calc(75% / 3);
    height: 300px;
    border: 1px solid dimgrey;
    transition: all .3s ;
}


.service-block:hover{
    background-color: #d02c2c;
    cursor: pointer;
}


.service-block img{
    padding: 20px 20px 40px 20px ;
}
.service-block .service-text{
    padding: 0px 20px ;
}
.service-block .service-text h1{
    font-size: 20px;
    margin-bottom: 10px;
}

.sb1{
    background: rgb(218,177,72);
    background: linear-gradient(4deg, rgba(218,177,72,1) 0%, rgb(234, 204, 123) 100%);
}

.sb2{
    background: rgb(72, 196, 218);
    background: linear-gradient(4deg, rgb(72, 196, 218) 0%, rgb(126, 237, 241) 100%);
}

.sb3{
    background: rgb(140, 72, 218);
    background: linear-gradient(4deg, rgb(140, 72, 218) 0%, rgb(131, 94, 222) 100%);
}

.sb4{
    background: rgb(92, 87, 234);
    background: linear-gradient(4deg, rgb(92, 87, 234) 0%, rgb(112, 105, 250) 100%);
}

.sb5{
    background: rgb(186, 122, 239);
    background: linear-gradient(4deg, rgb(186, 122, 239) 0%, rgb(207, 150, 248) 100%);
}

.sb6{
    background: rgb(234, 87, 180);
    background: linear-gradient(4deg, rgb(234, 87, 180) 0%, rgb(246, 120, 201) 100%);
}