.wrap {
  width: 1600px;
  margin: auto;
}

.logo {
  display: inline-block;
  vertical-align: middle;
}

nav {
  margin-left: 10px;
  vertical-align: middle;
  padding: 5px 0;
  margin-right: 60px;
}

nav, .nav-li {
  display: inline-block;
}

nav a, .nav-li a {
  padding: 15px 25px;
}

/* SECTION 1 */
#banner img {
  width: 100%;
}

/* SECTION 2 */
#articles {
  padding: 80px 0;
}

#articles .wrap {
  width: 1300px;
}

#articles .article {
  display: inline-block;
  width: calc((1300px - 84px) / 2);
  padding: 0 20px 30px 20px;
}

#articles .article img {
  width: 100%;
}

#articles .article h1 {
  font-size: 30px;
  margin: 10px 0 20px 0;
}

#articles .article p {
  padding-bottom: 25px;
}

#articles .article a {
  color: darkgoldenrod;
}
