$wrap: 1920px;

.wrap {
  width: $wrap;
  margin: auto;
}

p, a, div {
  font-size: 20px;
}

header{
  margin-top:70px;
}

.logo {
  display: inline-block;
  vertical-align: middle;
}

nav {
  vertical-align: middle;
  margin-left: 10px;
  padding: 5px 0; 
  margin-left: 120px;  
}

nav, .nav-li {
  display: inline-block;
  a {
    padding: 69px 15px 0 25px; 
    color: #3d37f1;
  }
}


/* SECTION 1 */

#banner {
  margin-top: 370px;
  .text-large {
    margin: auto;
    text-align: left;
  }

  .text-large {
    margin-bottom: 50px;
    h1{
      width: 680px;
      font-size: 78px;
      padding: 20px 0 40px 0;
      line-height: 109px;
    }
    p{
      padding-top:39px;
      font-size: 22px;
    }
  }


  .right-block, .left-block {
    display: inline-block;
    width: $wrap / 2 - 4;
    //border: 1px solid #00000030;
  }

  .left-block{
    vertical-align: top;
  }
  .right-block {
    margin-bottom: 283px;
    img { 
      width: 801px;
      height: 526px;

    }
  }

}

/* SECTION 2 */
.services {
  padding-top: 20px;
  width:1169px;
}

.services-blocks {
  /*background-color: #3D58A6;*/
}

#services {

  padding-bottom: 50px;
 .top{
   margin-bottom: 60px;
 }
  .services-text {
    padding: 40px 0;
    width: 550px;
    h1 {
      font-size: 40px;
      margin: 30px 0;
    }

    p {
      font-size: 18px;
      line-height: 28px;
      text-align: center;
    }
  }

  .service-block {
    padding: 37px 20px 0 51px ;
    width: 330px;
    height: 451px;
    display: inline-block;
    margin-right: 30px;
    
    img {
      padding-bottom: 40px;
      width: 100px;
      height: 100px;
    }

    h1 {
      font-size: 22px;
      margin: 25px 0;
    }

    p {
      text-align: center;
    }
  }
}


// COLORS
$c1: rgb(218, 177, 72);
$c2: rgb(72, 196, 218);
$c3: rgb(140, 72, 218);
$c4: rgb(92, 87, 234);
$c5: rgb(186, 122, 239);
$c6: rgb(234, 87, 180);
$percent: 20%;
$deg: 30deg;


.sb1 {
  background: $c1;
  background: linear-gradient($deg, $c1 0%, lighten($c1, $percent) 100%);
}

.sb2 {
  background: $c2;
  background: linear-gradient($deg, $c2 0%, lighten($c2, $percent) 100%);
}

.sb3 {
  background: $c3;
  background: linear-gradient($deg, $c3 0%, lighten($c3, $percent) 100%);
}

.sb4 {
  background: $c4;
  background: linear-gradient($deg, $c4 0%, lighten($c4, $percent) 100%);
}

.sb5 {
  background: $c5;
  background: linear-gradient($deg, $c5 0%, lighten($c5, $percent) 100%);
}

.sb6 {
  background: $c6;
  background: linear-gradient($deg, $c6 0%, lighten($c6, $percent) 100%);
}